.daxil-ol{
    background: #FAFDFD;
}
.daxil-ol-content {
    width: 100%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.daxil-ol-content>h4 {
    color: #1B2221;
    font-size: 41px;
    font-weight: 600;
}

.daxil-ol-form {
    
    border-radius: 20px;
    background: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    gap: 20px;
    width: 350px;
}

.daxil-ol-form h4 {
    font-size: 20px;
    color: #1B2221;
    font-weight: 700;
}

.input-item {
    align-items: center;
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 60px;
}

.fb-icon,
.ggl-icon {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px 0 0 8px;
    height: 100%;

}

.input-item1 {
    border-radius: 8px;
    background: #F6F6F7;
    align-items: center;
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    gap: 10px;
}

.input-item1 i {
    font-size: 20px;
    padding-left: 10px;
    color: #939393;
}

input::placeholder {
    color: #939393;
}

.input-item1 input {
    background-color: transparent;
    border: none;
    outline: none;
}

.fb-icon {
    padding: 20px;
    background: #395185;
}

.ggl-icon {
    padding: 20px 15px;
    background: #E93E32;
}

.input-item input {
    height: 100%;
    width: 100%;
    padding: 10px;
    background: #F6F6F7;
    outline: none;
    border: none;
    border-radius: 0 8px 8px 0;

}

.password-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.password-item>div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #939393;
}

.password-item>a {
    color: #1B2221;
}

.blue-login {
    border-radius: 70px;
    background: #008D96;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-links>a:first-child {

    color: #939393;
}
.form-links>a:last-child {

    color: #008D96;
}
