.information-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.information-img img{
   border-radius: 20px;
}
.information-text{
    width: 50%;
}
.information-text h2{
    color: #1B2221;
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 20px;
}
.information-text p{
    color: #939393;
    font-size: 18px;
    font-weight: 500;

}