* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Mulish;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

#welcome {
    height: 100vh;
    background: url("../img/bg.png") center no-repeat;
    background-size: cover;
}

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course>a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #1B2221;
    font-size: 22px;
    font-weight: 600;

}

.favorite-list>a {
    color: #008D96;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.register-login {
    display: flex;
    gap: 10px;
}

.login,
.register {
    padding: 20px 30px;
    border-radius: 40px;
    font-weight: 700;
    display: flex;
    gap: 10px;
}

.login {
    color: #008D96;
    border: 1px solid #008D96;
}

.register {
    color: #FFF;
    background: #008D96;
}

.welcome-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

.welcome-text span {
    color: #F5AF15;
    font-size: 56px;
    font-weight: 600;
}

.welcome-text h1 {
    font-size: 56px;
    color: #1B2221;
}

.courses-link {
    border-radius: 70px;
    background: #008D96;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

#popular-courses {
    padding: 50px 0;
}

.popular-courses-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-courses-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.popular-courses-title h1 {
    font-weight: 600;
    font-size: 41px;
    color: #1B2221;
}

.popular-courses-menu {
    display: flex;
    gap: 10px;
}

.popular-courses-menu>.active {

    background: #008D96;
    color: #FFF;

}

.popular-courses-menu a {
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 700;
    border: 1px solid #008D96;
    color: #008D96;
}

.popular-courses-products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 0;
}

.popular-courses-product-item {

    width: 300px;
    border-radius: 20px;
    background: #FFF;
    padding: 15px;
    box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.09);

}

.popular-courses-product-item>img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: 200px;
}

.btn-name {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;

}

.btn-job {
    border-radius: 8px;
    background: #F5AF15;
    padding: 10px;
    font-weight: 600;
    color: #1B2221;
}

.btn-name>span:last-child {
    color: #939393;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-text {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.product-text p {
    font-weight: 700;
    font-size: 18px;
    color: #1B2221;
}

.product-text>div {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008D96;
    color: #fff;
}

#support {
    background-color: #E3F1F2;
    padding: 100px 0;
}

.support-content-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #1B2221;
}

.support-content-title h2 {
    font-size: 41px;
}

.support-content-title h3 {
    font-size: 20px;
}

.support-content-cards-img {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support-cards {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.support-card-item {
    width: 300px;
    border-radius: 30px;
    background: #FFF;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 300px;
}

.support-item-img {
    border-radius: 14px;
    background: #F57170;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-card-item h4 {
    color: #1B2221;
    font-size: 20px;
    font-weight: 700;
}

.support-card-item p {
    color: #939393;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

.support-img {
    width: 500px;
    height: 500px;
    background-color: #D3EAEC;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.support-img img {
    width: 400px;
    height: 400px;
    border-radius: 50%;

}

footer {
    background-color: #008A95;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid white;
}

.footer-item,
ul {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    font-size: 20px;
}

.footer-item>ul>li>a,
.footer-item>p> a{
    color: white;
    font-size: 20px;

}
.footer-item>p> a{
    text-decoration: underline;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.footer-bottom p {
    color: white;
}
.email-submit {
    display: flex;
}

.email-submit>input {
    padding: 10px;
    border-radius: 60px;
    background: #FFF;
    border: none;
    outline: none;
}

.email-submit>button {
    border-radius: 60px;
    background: #F5AF15;
    padding: 10px 30px;
    border: none;
    outline: none;
}